body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1{
    color: rgb(8, 8, 8);
}

.center{
  align-items: center;
  justify-content: center;
}

